.products-shipping
  display: flex
  flex-direction: column
  margin-bottom: 50px   
 
  &__item
    display: flex
    border-bottom: 1px solid
    margin-bottom: 20px
    position: relative

    &-title
      width: 350px

    &-img 
      width: 100px

  a
    display: flex
    align-items: center
  
  p
    padding-left: 50px

.fa-trash-o
  position: absolute
  right: 20px
  top: 30px
  color: #a51d1d
  font-size: 30px
  transition: all .3s ease
  &:hover
    color: #e42a2a
    cursor: pointer

.products-buttons
  position: relative
  display: flex

.place-order, .clear-shopping-cart
    border: none
    margin: auto
    background: #6dac23
    padding: 8px 18px
    border-radius: 4px
    cursor: pointer
    display: block
    color: white!important
    transition: all .3s ease
    &:hover
      background: green
      color: white!important

.clear-shopping-cart
  background: #ac23a1
  &:hover
    background: #61195b
