.products-shipping
  display: flex
  flex-direction: column
  margin-bottom: 50px   
 
  &__item
    display: flex
    border-bottom: 1px solid
    margin-bottom: 20px
    position: relative

    &-title
      width: 350px

    &-img 
      width: 100px

  a
    display: flex
    align-items: center
  
  p
    padding-left: 50px

.fa-trash-o
  position: absolute
  right: 20px
  top: 30px
  color: #a51d1d
  font-size: 30px
  transition: all .3s ease
  &:hover
    color: #e42a2a
    cursor: pointer