.card-product {
  margin-top: 50px;
  display: flex;
}

.card-product__left-img {
  width: 300px;
}

.card-product__left-price {
  text-align: center;
  padding-top: 10px;
  padding-bottom: 30px;
  font-size: 20px;
}

.card-product__left-price b {
  color: red;
  font-size: 22px;
}

.card-product__right {
  margin-left: 50px;
}

.card-product__right-title {
  font-size: 40px;
  font-weight: 600;
  padding-bottom: 20px;
}

.product-reviews {
  margin-top: 40px;
}

